.navbar{
    background-color: #1D1A39 !important;
}
a{
    color:#E8BCB9 !important;

}
.background{
    background-image: url(bg.jpg); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;  
    display: flex;
    justify-content: flex-start;

}
.dropdown-item{
    color:#1D1A39 !important;
}
.dropdown-item:hover{
    background-color:  #F39F5A!important;
    color:#1D1A39 !important;
}
.item1{
    padding-left: 100px !important;
    padding-top: 200px !important;
    height: auto !important;
    width: 40% !important;
    flex-shrink: 0 !important;
}
.item2{
    padding-left: 100px !important;
    padding-top:100px !important;
    height:100vh !important;
    width: 50% !important;
}
.accordion-button{
    color: #E8BCB9 !important;
    background-color: #1D1A39 !important;
}
.accordion-button:hover{
    color: #E8BCB9 !important;
    background-color: #451952 !important;
}
.accordion-item{
    background-color: #a56c77 !important;
}
.typewriterdiv{
    display: inline-block !important;
    padding-left: 300px !important;
    padding-top: 300px !important;
}
.typewriteranimation {
    width: 550px;
    font-size: 2em;
    letter-spacing: 10px;
    font-family: monospace;
    border-right: 5px solid;
    white-space: nowrap;
    overflow: hidden;
    flex-shrink: 0 ;

    animation: typing 3s steps(20), 
        cursor 0.5s step-end infinite alternate;
}

@keyframes cursor {
    50% {
        border-right-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}

/* Color panel from dark to light
 #1D1A39
 #451952
 #662549 
 #AE445A
 #F39F5A
 #E8BCB9*/