.navbar{
    background-color: #1D1A39 !important;
    z-index: 1 !important;
    height: 70px !important;
}
a{
    color:#E8BCB9 !important;

}
/* a:hover{
    background-color: #451952 !important;
    box-shadow: 10px 10px 0px #1D1A39 !important;
    top: +5px !important;
    left: +5px !important;
} */
.background{
    /* background-image: url("https://youtu.be/OXam0bsRNeY?si=68RIZ0fjv0TdBBiJ");  */
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;  
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-start;
}

video {
    object-fit:cover;
    position: absolute;
    top: 35px;
    left: 0;
    height: 100%;
    width: 100%;
  }


.dropdown-item{
    color: purple;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;}
    
.dropdown-item:hover{
    color: white;

}
.dropdown-item::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: purple;
    z-index: -1;
    transition: all 1s;
  }
  
.dropdown-item:hover::before {
    width: 160%;
}
.item1{

    padding-left: 100px !important;
    position: relative !important;
    padding-top: 200px !important;
    height: auto !important;
    width: 40% !important;
    flex-shrink: 0 !important;
}
.item2{
    padding-left: 100px !important;
    padding-top:100px !important;
    height:100vh !important;
    width: 50% !important;
}
.accordion-button{
    border-radius: 25px !important;
    width: 100% !important;
    color: #E8BCB9 !important;
    background-color: #1D1A39 !important;
}
.accordion-button:hover{
    color: #E8BCB9 !important;
    background-color: #451952 !important;
    box-shadow: 10px 10px 0px #1D1A39 !important;
    top: -5px !important;
    left: -5px !important;
}
.accordion-item{
    border-radius: 25px !important;
    width: 60% !important;
    background-color: #a56c77 !important;
}
.typewriterdiv{
    position: relative !important;
    display: inline-block !important;
    padding-left: 300px !important;
    padding-top: 300px !important;
}
.typewriteranimation {
    width: 550px;
    font-size: 2em;
    letter-spacing: 10px;
    font-family: monospace;
    border-right: 5px solid;
    white-space: nowrap;
    overflow: hidden;
    flex-shrink: 0 ;

    animation: typing 3s steps(20), 
        cursor 0.5s step-end infinite alternate;
}
.carousel-inner img{
    height: 350px !important;
    width: 100% !important;
}
@keyframes cursor {
    50% {
        border-right-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}

/* Color panel from dark to light
 #1D1A39
 #451952
 #662549 
 #AE445A
 #F39F5A
 #E8BCB9*/